<div id="<%= dom_id conceptor %>">
  <p>
    <strong>Name:</strong>
    <%= conceptor.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= conceptor.desc %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= conceptor.website %>
  </p>

</div>
