<h1>Editing conceptor</h1>

<%= render "form", conceptor: @conceptor %>

<br>

<div>
  <%= link_to "Show this conceptor", @conceptor %> |
  <%= link_to "Back to conceptors", conceptors_path %>
</div>
