<p style="color: green"><%= notice %></p>

<h1>Conceptors</h1>

<div id="conceptors">
  <% @conceptors.each do |conceptor| %>
    <%= render conceptor %>
    <p>
      <%= link_to "Show this conceptor", conceptor %>
    </p>
  <% end %>
</div>

<%= link_to "New conceptor", new_conceptor_path %>
